#####################################################################
#  STARSCREAM DISPLAY
#  FYSETC Mini 12864 / Klipper
#
#  Upload this file to ~/printer_data/config/display_starscream.cfg
#  Then add the following line to printer.cfg:
#
#      [include display_starscream.cfg]
#
#  IMPORTANT:
#  In your existing [display] section, add:
#
#      display_group: starscream
#
#####################################################################

#####################################################################
#  DECEPTICON GLYPH
#####################################################################

[display_glyph decepticon]
data:
    .......**.......
    ......****......
    ..***.****.***..
    .****.****.****.
    .****.****.****.
    ..***.****.***..
    ...**********...
    ....********....
    ...***.**.***...
    ..***..**..***..
    .***...**...***.
    .**....**....**.
    ..**..****..**..
    ...**********...
    ....**....**....
    .....**..**.....

#####################################################################
#  STARSCREAM STATUS SCREEN
#####################################################################

[display_data starscream logo]
position: 0,0
text:
    ~decepticon~

[display_data starscream name]
position: 0,2
text:
    STARSCREAM

[display_data starscream hotend]
position: 1,2
text:
    {% if 'extruder' in printer %}
      E:{ "%3.0f" % printer.extruder.temperature }C
    {% else %}
      E: ---
    {% endif %}

[display_data starscream bed]
position: 2,2
text:
    B:{ "%3.0f" % printer.heater_bed.temperature }C

[display_data starscream state]
position: 3,2
text:
    { printer.idle_timeout.state }

#####################################################################
#  OPTIONAL DISPLAY MESSAGE MACRO
#####################################################################

[gcode_macro STARSCREAM_ONLINE]
description: Display Starscream online message
gcode:
    M117 STARSCREAM ONLINE
