[include print_start_end.cfg]
[include z_tilt_settings.cfg]
[include display_pins.cfg]
[include menu.cfg]
[include filament.cfg]
[include display.cfg]


#####################################################################
# 	KAMP Macros
#####################################################################
# This file contains all settings for KAMP, and must be included in printer.cfg with:
[include KAMP_Settings.cfg]

### The following [includes] can be uncommented from within KAMP_Settings.cfg. ###
# This file enables the use of adaptive meshing.
[include ./KAMP/Adaptive_Meshing.cfg]
# This file enables the use of adaptive line purging.
[include ./KAMP/Line_Purge.cfg]
# This file enables the use of the adaptive Voron logo purge.
[include ./KAMP/Voron_Purge.cfg]
# This file enables the use of KAMP's Smart Park feature.
[include ./KAMP/Smart_Park.cfg]

#####################################################################
# 	Disabled Macros
#####################################################################
#[include configure_extruder.cfg]
#[include sb2240.cfg]
#[include gantry_homing.cfg]
#[include klicky_probe/klicky-probe.cfg]
#[include sb2209.cfg]