#####################################################################
#  STARSCREAM CUSTOM LCD MENU
#####################################################################

# Hide stock main menu items we don't care about
[menu __main __octoprint]
type: disabled

[menu __main __sdcard]
type: disabled

#####################################################################
#  STARSCREAM
#####################################################################

[menu __main __starscream]
type: list
name: STARSCREAM

#####################################################################
#  MOTION
#####################################################################

[menu __main __starscream __motion]
type: list
name: Motion

[menu __main __starscream __motion __home_xy]
type: command
name: Home XY
gcode:
    G28 X Y

[menu __main __starscream __motion __home_all]
type: command
name: Home All
gcode:
    G28

[menu __main __starscream __motion __motors_off]
type: command
name: Motors Off
gcode:
    M84


#####################################################################
#  TEMPERATURE
#####################################################################

[menu __main __starscream __temp]
type: list
name: Temperature

[menu __main __starscream __temp __pla]
type: command
name: PLA 215/60
gcode:
    M104 S215
    M140 S60

[menu __main __starscream __temp __petg]
type: command
name: PETG 245/80
gcode:
    M104 S245
    M140 S80

[menu __main __starscream __temp __abs]
type: command
name: ABS/ASA 260/110
gcode:
    M104 S260
    M140 S110

[menu __main __starscream __temp __cooldown]
type: command
name: Cooldown
gcode:
    M104 S0
    M140 S0

#####################################################################
#  FILAMENT
#####################################################################

[menu __main __starscream __filament]
type: list
name: Filament

[menu __main __starscream __filament __load]
type: command
name: Load Filament
gcode:
    LOAD_FILAMENT

[menu __main __starscream __filament __unload]
type: command
name: Unload Filament
gcode:
    UNLOAD_FILAMENT

#####################################################################
#  CALIBRATION
#####################################################################

[menu __main __starscream __calibrate]
type: list
name: Calibrate

[menu __main __starscream __calibrate __z_tilt]
type: command
name: Z Tilt
gcode:
    Z_TILT_ADJUST

#####################################################################
#  LIGHTS
#####################################################################

[menu __main __starscream __lights]
type: list
name: Lights

[menu __main __starscream __lights __on]
type: command
name: Daylight On
gcode:
    SET_PIN PIN=daylight VALUE=1

[menu __main __starscream __lights __off]
type: command
name: Daylight Off
gcode:
    SET_PIN PIN=daylight VALUE=0

#####################################################################
#  SYSTEM
#####################################################################

[menu __main __starscream __system]
type: list
name: System

[menu __main __starscream __system __restart]
type: command
name: Restart Klipper
gcode:
    RESTART

[menu __main __starscream __system __fwrestart]
type: command
name: Firmware Restart
gcode:
    FIRMWARE_RESTART

[menu __main __starscream __system __shutdown]
type: command
name: Shutdown Pi
gcode:
    {action_call_remote_method("shutdown_machine")}