[include mainsail.cfg]
[include macros.cfg]
[exclude_object]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/ttyAMA0
# serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.4:1.

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 1000

[idle_timeout]
timeout: 1000

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X-MOT (B Motor)
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PB14
position_min: 0

##--------------------------------------------------------------------

##	Uncomment below for 250mm build
#position_endstop: 250
#position_max: 250

##	Uncomment for 300mm build
position_endstop: 300
position_max: 303

##	Uncomment for 350mm build
#position_endstop: 350
#position_max: 350

##--------------------------------------------------------------------
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PE7
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##  Make sure to update below for your relevant driver (5160)
#[tmc5160 stepper_x]
## Soft SPI
#spi_software_mosi_pin: PE14
#spi_software_miso_pin: PE13
#spi_software_sclk_pin: PE12
#cs_pin: PE7 
#interpolate: True
#diag1_pin: PB14 
#run_current: 0.800 
#hold_current: 0.500
##stealthchop_threshold: 0

[stepper_y]
##	Connected to Y-MOT (A Motor)
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PB13
position_min: 0
##--------------------------------------------------------------------

##	Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

##	Uncomment for 300mm build
position_endstop: 300
position_max: 305

##	Uncomment for 350mm build
#position_endstop: 350
#position_max: 350

##--------------------------------------------------------------------
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE15
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##  Make sure to update below for your relevant driver (5160)
#[tmc5160 stepper_y] 
## Soft SPI
#spi_software_mosi_pin: PE14
#spi_software_miso_pin: PE13
#spi_software_sclk_pin: PE12
#cs_pin: PE15
##diag1_pin: PB13
#interpolate: True 
#run_current: 0.8
#hold_current: 0.7
##stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PE1
dir_pin: PE0
enable_pin: !PC5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: ^PA0
position_endstop: 4.265 #position_endstop: -0.5 ##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_max: 250
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PD11
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8
microsteps:16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 80:16

[tmc2209 stepper_z1]
uart_pin: PA15
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 80:16

[tmc2209 stepper_z2]
uart_pin: PC15
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder Settings
#####################################################################


##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - PT100

# [extruder]
# step_pin: SB2209_CAN:PD0
# dir_pin: SB2209_CAN:PD1
# enable_pin: !SB2209_CAN:PD2
# ##  Update value below when you perform extruder calibration
# ##  If you ask for 100mm of filament, but in reality it is 98mm:
# ##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
# ##  22.6789511 is a good starting point
# rotation_distance: 23.5764   #Bondtech 5mm Drive Gears
# ##  Update Gear Ratio depending on your Extruder Type
# ##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
# ##  Use 80:20 for M4, M3.1
# gear_ratio: 50:10               #BMG Gear Ratio
# microsteps: 32
# full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
# nozzle_diameter: 0.400
# filament_diameter: 1.75
# instantaneous_corner_velocity: 1.5
# max_extrude_cross_section: 0.8
# max_extrude_only_distance: 101.9

# heater_pin: SB2209_CAN:PB13 # Heat0
# pwm_cycle_time: 0.02
# smooth_time: 0.5
# max_power: 0.8

# sensor_type: MAX31865
# sensor_pin: SB2209_CAN:PA4
# spi_speed: 1000000
# #   The SPI speed (in hz) to use when communicating with the chip.
# #   The default is 4000000.
# spi_software_miso_pin: SB2209_CAN:PA6
# spi_software_mosi_pin: SB2209_CAN:PA7
# spi_software_sclk_pin: SB2209_CAN:PA5
# #   See the "common SPI settings" section for a description of the
# #   above parameters.
# #tc_type: K
# #tc_use_50Hz_filter: True
# #tc_averaging_count: 1
# #   The above parameters control the sensor parameters of MAX31856
# #   chips. The defaults for each parameter are next to the parameter
# #   name in the above list.
# #rtd_nominal_r: 1000
# #rtd_reference_r: 4300
# rtd_num_of_wires: 2
# #rtd_use_50Hz_filter: True
# #   The above parameters control the sensor parameters of MAX31865
# #   chips. The defaults for each parameter are next to the parameter
# #   name in the above list.
# #control: pid
# #pid_kp = 19.755
# #pid_ki = 0.770
# #pid_kd = 126.680
# min_extrude_temp: 170
# #   The minimum temperature (in Celsius) at which extruder move
# #   commands may be issued. The default is 170 Celsius.
# min_temp: 0
# max_temp: 300


[bed_mesh] 
speed: 120 
horizontal_move_z: 10 
mesh_min: 35, 25 
mesh_max: 290, 278 
probe_count: 5, 5

# [tmc2240 extruder]
# cs_pin: SB2209_CAN:PA15
# #   The pin corresponding to the TMC2240 chip select line. This pin
# #   will be set to low at the start of SPI messages and raised to high
# #   after the message completes. This parameter must be provided.
# spi_speed: 500000
# spi_software_sclk_pin: SB2209_CAN:PB10
# spi_software_mosi_pin: SB2209_CAN:PB11
# spi_software_miso_pin: SB2209_CAN:PB2
# #   See the "common SPI settings" section for a description of the
# #   above parameters.
# #chain_position:
# #chain_length:
# #   These parameters configure an SPI daisy chain. The two parameters
# #   define the stepper position in the chain and the total chain length.
# #   Position 1 corresponds to the stepper that connects to the MOSI signal.
# #   The default is to not use an SPI daisy chain.
# interpolate: False
# #   If true, enable step interpolation (the driver will internally
# #   step at a rate of 256 micro-steps). The default is True.
# run_current: 0.65
# #   The amount of current (in amps RMS) to configure the driver to use
# #   during stepper movement. This parameter must be provided.
# # hold_current: 0.12
# #   The amount of current (in amps RMS) to configure the driver to use
# #   when the stepper is not moving. Setting a hold_current is not
# #   recommended (see TMC_Drivers.md for details). The default is to
# #   not reduce the current.
# rref: 12000
# #   The resistance (in ohms) of the resistor between IREF and GND. The
# #   default is 12000.
# stealthchop_threshold: 99999
# #   The velocity (in mm/s) to set the "stealthChop" threshold to. When
# #   set, "stealthChop" mode will be enabled if the stepper motor
# #   velocity is below this value. The default is 0, which disables
# #   "stealthChop" mode.
# driver_IHOLDDELAY: 8
# driver_IRUNDELAY: 2
# #driver_TPOWERDOWN: 10
# driver_TBL: 3
# driver_TOFF: 4
# driver_HEND: 3
# driver_HSTRT: 4
# #driver_FD3: 0
# driver_TPFD: 0
# ##driver_CHM: 0
# ##driver_VHIGHFS: 0
# ##driver_VHIGHCHM: 0
# ##driver_DISS2G: 0
# ##driver_DISS2VS: 1
# driver_PWM_AUTOSCALE: True
# driver_PWM_AUTOGRAD: True
# #driver_PWM_FREQ: 2
# ##driver_FREEWHEEL: 0
# driver_PWM_GRAD: 12
# driver_PWM_OFS: 40
# driver_PWM_REG: 15
# driver_PWM_LIM: 12
# driver_SGT: 40
# driver_SEMIN: 2
# #driver_SEUP: 3
# driver_SEMAX: 8
# #driver_SEDN: 2
# #driver_SEIMIN: 0
# #driver_SFILT: 1
# #driver_SG4_ANGLE_OFFSET: 1
# #   Set the given register during the configuration of the TMC2240
# #   chip. This may be used to set custom motor parameters. The
# #   defaults for each parameter are next to the parameter name in the
# #   above list.
# diag0_pin: SB2209_CAN:PB3
# #diag1_pin:
# #   The micro-controller pin attached to one of the DIAG lines of the
# #   TMC2240 chip. Only a single diag pin should be specified. The pin
# #   is "active low" and is thus normally prefaced with "^!". Setting
# #   this creates a "tmc2240_stepper_x:virtual_endstop" virtual pin
# #   which may be used as the stepper's endstop_pin. Doing this enables
# #   "sensorless homing". (Be sure to also set driver_SGT to an
# #   appropriate sensitivity value.) The default is to not enable
# #   sensorless homing.

#####################################################################
# 	Heated Bed
#####################################################################
[heater_bed]
heater_pin: PB4
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB0
max_power: 0.95
control = pid
pid_kp=54.832
pid_ki=2.521
pid_kd=298.150
#pid_kp = 37.530
#pid_ki = 1.239
#pid_kd = 284.291
min_temp:  0
max_temp: 130

#####################################################################
# 	Exhaust Fan
#####################################################################
[heater_fan exhaust_fan]
#  Exhaust fan - In E2 OUT Positon
pin: PB3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

[temperature_sensor Board_MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
# 	Daylight on a stick
#####################################################################
[output_pin daylight]
##	Controller fan
#pin: PB2 # FAN2 Connector
pin: PC8 # E1 Out
pwm: True
cycle_time: 0.01
#heater: heater_bed
#heater_temp: 45.0


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_kp = 21.270
#*# pid_ki = 1.818
#*# pid_kd = 62.218
#*# control = pid
#*#
##*# [probe]
##*# z_offset = 6.419
#*#
#*# [stepper_z]
#*# position_endstop = 4.265
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  1.502250, 1.636000, 1.549750, 1.497250
#*# 	  1.408500, 1.531000, 1.492250, 1.514750
#*# 	  1.419750, 1.486000, 1.504750, 1.501000
#*# x_count = 4
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 78.21
#*# max_x = 221.76
#*# min_y = 128.2
#*# max_y = 171.8
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.530
#*# pid_ki = 1.239
#*# pid_kd = 284.291

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.891
#*# pid_ki = 1.226
#*# pid_kd = 292.711

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.832
#*# pid_ki = 2.521
#*# pid_kd = 298.150
