[z_tilt]
##	Use Z_TILT_ADJUST to level the bed .
##	z_positions: Location of toolhead

##--------------------------------------------------------------------
## Uncomment below for 250mm build
#z_positions:
#	-46, 20
#	125, 313
#	296, 20
#points:
#	30, 5
#	125, 195
#	220, 5

## Uncomment below for 300mm build
z_positions:
	-46, 20
	150, 338
	346, 20
points:
	30, 5
	150, 245
	270, 5

## Uncomment below for 350mm build
#z_positions:
#	-46, 20
#	175, 363
#	396, 20
#points:
#	30, 5
#	175, 295
#	320, 5

#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01# 0.0075